
footer{
    background-color: var(--light-bg-color);
    color: black;
    height: 22vh;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 30px;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    align-items: center;
    padding: 12vh 0;
    }
footer h2{
    margin: 0;
    font-size: 1.5em;
    width: 90%;
    margin: auto;
}
footer h2::after{

    display: block; 
    content: '';
    width: 50px;
    height: 10px;
    background-color: var(--accentRed);
    margin-top: 10px;
    box-shadow: rgba(255, 0, 0, 0.5) 0px 7px 29px 0px;

}
.footerWrapper{  
    width: 80%;
    background-color: var(--light-bg-color);            
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;

}
 .iconFooter{
    color: white;
}
.icon{
    color: black;
    transition:all 1s;
    cursor: pointer;
}
#locationIcon{
    position: relative; 
}
#locationIcon:hover::after{

    opacity: 1;
}   
#locationIcon::after{
    white-space: nowrap;
    transition: opacity 1s;
    opacity: 0; 
    content: 'Lagomar, Canelones';
    position: absolute;
    color: white;
    background-color:var(--accentRed);
    height: fit-content;
    width: fit-content;
    padding: 10px;
    bottom: 120%;
    font-size: 0.4em;
    left: 50%;
    transform: translateX(-50%);
}
.icon:hover{color: rgb(60, 60, 60);}

@media screen and (max-width:500px) {
    
footer{
    width: 100%;
    
}
#locationIcon::after{

    right: 0;
}
}
@media screen and (min-width:500px){
    
    footer{
        width: 70%;
    }
}
/*.footerWrapper{
    background-color: var(--dark-bg-color);
    width: 100vw;
    height: 100px;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 2;
    justify-content: space-around;
    align-items: center;
}*/


