.galeriaWrapper{
  height:calc(60vh - 65px);
}
.imgMain{
  max-height: 85vh;
  object-fit: cover;
  width: 100vw;
}
.arrow{
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 70vh;
  z-index: 1;
  height: 100vh;
  top: 50%;
  transform: translateY(-50%);
  -webkit-tap-highlight-color: transparent;
  width: 80px;
  opacity: 1;
  cursor: pointer;
  user-select: none;

}
.arrow:hover{
  color: rgba(255, 255, 255, 0.5);

}
.arrowR{
  right:0px;
  background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  padding: 0 10px 0 30px ;
}
.arrowL{
  background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  left: 0px;
  padding: 0 30px 0 10px ;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.imgActiva {
  opacity: 1;
  transition-duration: 1s;
}
@media screen and (min-width:768px) {
  .galeriaWrapper{
    position: relative;
    height:calc(82vh - 65px);
  }
  .imgMain{ 
    width: 100%;
    border-radius: 0;
    height: 100%;
 }
 .arrow{

  height: 100%;
  top: 50%;

}

.imgActiva{
  height: 100%;
  }
}
