body{
    background-color: var(--dark-bg-color);
}

.imgHome{
    width: 55%;
    margin-bottom: -15%;
    border-radius: 0 0 20px 20px;
    z-index: 1;
 
}

@media screen and (max-width:765px){
        
    .imgHome{
      
        width: 70vw;
 }
 
}
@media screen and (max-width:500px){
    .imgHome{
        width: 100vw;
    }
}
