.mainTitle{
    color: var(--light-text-color);
    padding: 20px 15px;
    border-radius: 15px;
    background-color: var(--accentRed);
    text-align: center; 
    margin-top: 5vh;
    width: 70%;
    
}
@media screen and (max-width:768px){
    
    .mainTitle{
   
        width: 85%;
    }
}