@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

.divServicio{
    row-gap: 2.4vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 6vh;
    height: 75vh;
    background: linear-gradient(to top, rgba(248, 248, 248, 0.7) 0%, rgba(248, 248, 248, 1) 100%);
    border-radius: 15px;
    padding:8%;
    max-height: 700px;
    
}
.btnMasInformacion{
    align-self: center;

    width: 70%;
    min-height: 8%;
    border: none;
    border-radius: 25px;
    background-color: var(--accentRed);
    font-Size:1.1em;
    box-shadow: rgba(255, 0, 0, 0.5) 0px 7px 29px 0px;

}
.titleServicio{
    color: black;
    align-items: center;
    font-size:2em;
    text-align: center
    ;
}
a{
    text-decoration: none;
}

.imgServicio{
    align-self: center;
    object-fit: contain;
    height: 70%;
    width: inherit;
}
@media screen and (min-width:900px) {
    
    .divServicio{
        display: grid;
        height: 50vh;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        align-items: center;
        max-height: max-content;
        justify-items: center;

    }
    .titleServicio{
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 2em;
        text-align: left;
    }
    .titleServicio::after{
        display: block;
        position: relative;
        bottom: -20px;
        content: '';
        width: 50%;
        max-width: 130px;
        height: 4px;
        background-color: var(--accentRed);
    }
    .imgServicio{
        grid-column: 2/3;
        grid-row: 1/3;
        height: 100%;
    }
    .btnMasInformacion{
        width: 65%;
        height: 45%;
        max-height: 70px;
        border: none;
        border-radius: 25px;
        background-color: var(--accentRed);
        font-Size:1.1em;
        cursor: pointer;
        box-shadow: rgba(255, 0, 0, 0.5) 0px 7px 29px 0px;
    }
    .btnMasInformacion:hover{
        background-color: var(--accentRedHover);
    }
}