.hamburger{display: none;}
.navBarLinks{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.navBarLinks a{
    color: var(--light-text-color);
}
/*ARREGLAR ESTO!!!!!!!!!!*/
.navBarLinks ul li a::after, .navbarLinks ul div *::after{
    position: relative;
    left: 0;
    right: 0;
    width: 0%;
    content: '';
    color: transparent;
    background: #aaa;
    height: 2px;
    display: block;
    transition: width 1s;
    bottom: -5px;
}
.navBarLinks ul li a:hover::after,.navbarLinks ul div li *:hover::after{
    width: 100%;
}
.navBarLinks ul li{
    list-style: none;
    margin: 10px;
    cursor: pointer;
    height: 20px;
}
nav{
    background-color: var(--dark-bg-color);
    display: flex;
    width: 100vw;
    height: 15vh;
    border-radius: 0 0 20px 20px;
    top: 0;
    position: fixed;
    color: var(--light-text-color);
    justify-content: space-around;
}

.logoNavBar{
    
    height: inherit;
    margin-right: 30px;
}
.navBarLinks ul{
    display: flex;
    flex-direction: row;
}

#subshow{
    position: absolute;
    z-index: 1;
    background-color: var(--dark-bg-color);
    flex-direction: column;
    height: auto;
    justify-content: center;
    border: 2px solid black;
}
#subshow li{
    height: fit-content;
    margin:0;
    padding: 15px;
    transition: background-color 0.5s;
}
#subshow li a::after{
    display: none;
}
#subshow li:hover{
    background-color: var(--accentRed);
}
#subhidden{
    display: none;
    max-height: 0;
}

@media screen and (max-width: 768px) {
    .navBarLinks ul li a::after{
        display: none;
    }
    #subshow{
        position: inherit;
        align-items: baseline;
        background-color: var(--dark-bg-color);
        flex-direction: column;
        justify-content: center;
        width: 100%;
        z-index: 1;
        transition:3s all ;
        row-gap: 100%;
        margin-left: 20px;
        margin-bottom: 0;
        row-gap: 25px;
    }
    #subshow li{
        width: 90%;

    }
 
    #subhidden{
        display: none;
    }
 
    .hamburger{
        display: block;
        margin-left: 30px;
        cursor: pointer;
        color: var(--light-text-color);
        -webkit-tap-highlight-color: transparent;
    }
    nav{
        z-index: 1; 
        align-items: center;
        justify-content: space-between;
        color: wheat;
        height: 12vh;
    }
   nav #show {
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 12vh;
        position: absolute;
        background-color: var(--dark-bg-color);
        height: auto;    
        border-bottom-left-radius: 20px;    
        border-bottom-right-radius: 20px;  
        color: white;
        z-index: 10;
   }
   .navBarLinks{
    -webkit-tap-highlight-color: transparent;
        overflow-y: scroll;
        overflow-x: hidden;
   }
    nav #hidden{
        display: none;
    }
    .navBarLinks ul{
        list-style: none;
        padding: 0;
        flex-direction: column;
        width: 100%;
        row-gap: 7px;
        margin: 20px 0 20px 30px;
        max-height: 63vh;
    }
    
    .navBarLinks ul a{
        color: var(--light-text-color);
    }
    .navBarLinks li{
        
        font-size:3vh;
        margin: 20px;
    }
    .navbarLinks li::after,.navbarLinks ul a::after{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: white;
        background-color:white;
        height: 1px;
    }
    .navbarLinks ul a:hover::after, navbarLinks li:hover::after{
        width: 100%;
    }
  
    .blurryBack{
        opacity: 0.5;
        height: 100%;
        width: 100%;
        background-color: var(--dark-bg-color);
        position: fixed;
        z-index: 2;
    }
    .logoNavBar{
        position:absolute;
        top:0;
        left:50%;
        transform: translateX(-50%);
    }
}
