#pageWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:12vh;
    background-color: var(--dark-bg-color);
    color: white; 
    height: 100%;
    z-index: -1;
    width: 100%;
}
.serviciosWrapper{
    width: 80%;
    margin-bottom:2.7vh ;
}
@media screen and (min-width:768px) {
    #pageWrapper{
        
        margin-bottom: 5%;
    }
}
@media screen and (min-width:700px) {
  
    .serviciosWrapper{
        width: 60%;
    }
  }
  @media screen and (min-width:992px) {
  
    .serviciosWrapper{
        width: 50%;
    }
  }


