.hamburger{
    display: none;
}
.navBarLinks{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.navBarLinks a{
    color: white;
}
.navBarLinks ul li{
    list-style: none;
    margin: 10px;
    cursor: pointer;
    height: 20px;
}
nav{
    background-color: black;
    display: flex;
    width: 100vw;
    height: 15vh;
    border-radius: 0 0 20px 20px;
    top: 0;
    position: fixed;
    color: white;
    justify-content: space-around;
}

.logoNavBar{
    
    width: 128px;
    height: inherit;
    margin-right: 30px;

    
}
.navBarLinks ul{
    display: flex;
    flex-direction: row;
}
#subshow{
    position: absolute;
    z-index: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
}
#subhidden{
    display: none;
}

@media screen and (max-width: 768px) {
    #subshow{
        position: static;
        align-items: baseline;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        z-index: 1;
        transition: all 3s;
    }
    #subhidden{
        display: none;
    }
 
    .hamburger{
        display: block;
        margin-left: 30px;
    cursor: pointer;
    color: white;
    -webkit-tap-highlight-color: transparent;
    }
    nav{
        z-index: 1; 
        align-items: center;
        justify-content: space-between;

    }
   nav #show {
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
        width: 100%;
        top: 15vh;
        position: absolute;
        background-color: white;
        height: auto;    
        border-bottom-left-radius: 20px;    
        border-bottom-right-radius: 20px;  
        color: black;
        display: flex;
        z-index: 10;
   }
   .navBarLinks{
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;

   }
    nav #hidden{
        display: none;
    }
    .navBarLinks ul{
        list-style: none;
        padding: 0;
        flex-direction: column;
        width: 100%;
        row-gap: 7px;
        margin: 20px 0 20px 30px;
    
    }
    .navBarLinks ul a{
        color: black;

    }
    .navBarLinks li{
        
        font-size:3vh;
        margin: 20px;
    }
  
    .blurryBack{
        opacity: 0.5;
        height: 100%;
        width: 100%;
        background-color: black;
        position: fixed;
    }
    .logoNavBar{
        position:absolute;
        top:0;
        left:50%;
        transform: translateX(-50%);
    }
}
