*{
  box-sizing: border-box;

}
.imgWrapper{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  
}
.imgMain{
    width: 100vw;
  border-radius: 30px;
  max-height: 85vh;
}
.arrow{
    color: white;
    position: absolute;
    top: 65vh;
    z-index: 1;
    height: 100%;
    transform: translateY(-50%);
    -webkit-tap-highlight-color: transparent;
    width: 80px;

  }
.arrowR{
  
  right:0px;
  background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  padding: 0 10px 0 30px ;

  cursor: pointer;
  user-select: none;
}
.arrowL{
  background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  padding-left: 10px;

  opacity: 1;
  left: 0px;
  cursor: pointer;
  user-select: none;
  padding: 0 30px 0 10px ;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
    transform: scale(1.08);

  }
  
  .imgActiva {
    width: 100vw;
    opacity: 1;
    transition-duration: 1s;
  }
  @media screen and (min-width:768px) {
    
    .imgWrapper{
      width: 20vw;

    }
    .imgMain{
      width: auto; 
    }
    .arrowL{
      margin-left: 15vw;
    }
    .arrowR{
      margin-right: 15vw;
    }

}