@media screen and (min-width:768px) {
  
  #pageWrapper{
      width: 50%;
  }
}
#pageWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:15vh;
    background-color: black;
    color: white; 
    height: 100%;
    z-index: -1;
    flex-direction: column;
    width: 100%;
}
.serviciosWrapper{
   
    width: 80%;
}

