body{
    background-color: black;
}
.imgHome{
    background-image: url(../img/imgHome.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
}

