.wrapperIndividualServicio{
    color:white;
    
}   
.parallaxWrapper{
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
.wrapperIndividualServicio img{
    width: 100%;
}
.wrapperDetallesServicio{
    background-color: white;
    color: black;
    border-radius: 20px 20px 0 0;
  
   padding: 30px;
   margin-top: -15px;
   white-space: pre-line;

}
.wrapperIndividualServicio p{
    font-size: 2.6vh;
    
}  
.btnContact button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);

}
.btnContact button svg{
    color: white;
}
.btnFlotante{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    right: 0;
    height:65px;
    border: 0;
    width: 100vw;
    background-color: #FF1717;
    color: #FFFFFF;
    font-size: 18px;
}
/*@font-face {
    font-family: Agrandir;
    src: url("../fonts/Agrandir-Regular.otf") format("opentype");
}*/