@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
    

*{
    font-family: 'Gruppo', 'Arial',cursive;
    font-weight: 700;
    box-sizing: border-box;
    padding: 0;margin: 0;
}
body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.App{
    flex-direction:column;
    align-items: center;

}
.imgPortada {

    background-image: url("img/logoSecundario.jpeg");
    width: 100%;
    height: 280px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto
  }

/*@font-face {
    font-family: Gruppo;
    font-weight: bold;
    src: url("fonts/Agrandir-Bold.otf") format("opentype");
}*/
@media screen and(min-width:768px)  {
    
    .App{
        display: flex;
        justify-content: center ;
    }
}